.log-form {
  max-width: 400px;
  padding: 1rem;
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    img {
      width: 50%;
    }
  }
}

.alert-box-center {
  display: flex;
  justify-content: center;
}