body {
  margin-bottom:50px!important;
}
* {
  box-sizing: border-box;
}
.top{
  margin-top: 20px;
}
.container {
  max-width: 960px;
}
header {
  width: 100%;
}
.cursor {
  cursor: pointer;
}
.styled-footer {
  width: "100%";
  display: "flex";
  flex-direction: "row";
  position: "fixed";
  bottom: "0";
  background-color: "#01403c";
  color: "#fff";
  padding: "10px 0";
  align-items: 'center';
  justify-content: "center";
}

