body, button, .form-control, .form-select{
  color: #6F6F6F !important;
  font-size: 14px!important;
}
.top{
  margin-top: 20px;
}
.container {
  max-width: 960px;
}
header {
  width: 100%;
}
.cursor {
  cursor: pointer;
}
.btn-primary {
  background-color: #ffc107!important;
  border-color: #ffc107!important;
  color: black!important;
}

