body, button, .form-control, .form-select{
  color: #1f1f1f !important;
}
body {
  margin-bottom:50px!important;
}
.top{
  margin-top: 20px;
}
.container {
  max-width: 960px;
}
header {
  width: 100%;
}
.cursor {
  cursor: pointer;
}
.btn-primary {
  background-color: #FBB040!important;
  border-color: #FBB040!important;
  color: white!important;
}

